.utility-nav {
  padding-block-start: 2.5rem;
  margin-block-end: 2.5rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 0;
  font-weight: 500;
  justify-content: flex-end;
  align-items: stretch;
  position: relative;
  gap: 1rem;
}

.utility-nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 6px;
  background-color: transparent;
  border: none;
  border-radius: 300px;
  cursor: pointer;
  transition: background-color 0.15s ease;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
}

.help-center {
  color: #111111;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  width: auto;
}

.utility-nav-item:hover {
  background-color: #E8EAEB;
}

.user-avatar {
  border-radius: 50%;
  background-color: #2B2B2B;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}